######################################################################################
#
# Rename this file to application.properties
#
# Can add as many pincodes or mobilenumbers
#
# Append the config<id> to the cowin.config.list after defining the config below
#
# Steps to register apiKey for signal --> follow steps in this link.
# IMPORTANT - Every mobile number has its own apikey, which we get only after registering
# https://www.callmebot.com/blog/free-api-signal-send-messages/
# You can also set up telegram or whatsapp message via this way.
#
#######################################################################################
cowin.url=https://cdn-api.co-vin.in/api/v2/appointment/sessions/public/calendarByPin
cowin.minage=18
cowin.config.list=config1,config2,config3
cowin.pincode.config1=560017
cowin.pincode.config2=560085
cowin.pincode.config3=560020,560076,560003
cowin.signal.config1=+910123456789,000000
cowin.signal.config2=+910123456789,999999
cowin.signal.config3=+910123456789,111111
cowin.signal.textPrefix=Hurry, slots for 18+ found at pincode